# ── Main ─────────────────────────────────────
# default fonts only!
BOT_NAME=

# for developer: ["628...", "IM DEVELOPER", true]
# example: ["628...", ["628...", "HirooSy", true]]
OWNER=[]
MODERATOR=[]

# true = use quick tunnel cloudflared
# false = use hosting website, ex: vercel
# https://.... = if hosting only have ip address for web access, or for custom domain
WEBSITE=

# 8 letters for pairing code
CUSTOM_PAIRING=

# you can add as much as you want, minimum 5
TIER={"name":{"0":"✧✧✧✧✧","1":"✦✧✧✧✧","2":"✦✦✧✧✧","3":"✦✦✦✧✧","4":"✦✦✦✦✧","5":"✦✦✦✦✦"},"exp":{"1":10000,"2":20000,"3":30000,"4":50000,"5":100000},"limit":{"0":10,"1":15,"2":20,"3":30,"4":40,"5":50}}

STICKER_WM=["Packname","Author"]

# For LID SOLVER. support invite link or group jid
GROUP_ID=


# ── AI ─────────────────────────────────────
AI_PERSONALITY=
# Free from aistudio.google.com
# can be string / json (for more fallback)
AI_KEYS=

# ── DIRNAME ─────────────────────────────────────
TMP=data/tmp

# ── TOKEN ─────────────────────────────────────
# Git is optional
GIT_CLASSIC_KEY=
GIT_TOKEN=
GIT_USER=
GIT_EMAIL=
GIT_REPO=

# Support MySQL, MongoDB, cloud adapter, or blank for .json database
DATABASE=

# From Server discord > settings > integrations > webhooks. — For upload.js
DISCORD_WEBHOOK=
