# REQUIRED! default fonts only!
BOT_NAME=YOURNAME

# for developer: ["628...", "IM DEVELOPER", true]
# example: ["628...", ["628...", "HirooSy", true]]
# if only one: [["628...", "IM DEVELOPER", true]]
OWNER=[""]
MODERATOR=[""]

# custom pairing, max 8 characters.
CUSTOM_PAIRING=

# For LID SOLVER. support invite link or group jid
GROUP_ID=

# From Server discord > settings > integrations > webhooks. — For upload.js
DISCORD_WEBHOOK=

AI_PERSONALITY=
# Free from aistudio.google.com
# String or Array (more fallback)
AI_KEYS=

# Optional if you're developer/fork my repo
GIT_CLASSIC_KEY=
GIT_TOKEN=
GIT_USER=
GIT_EMAIL=
GIT_REPO=

# Support MySQL, MongoDB, cloud adapter, or blank for .json database
DATABASE=

# Optional, if you had custom domain
CLOUDFLARE_TUNNEL_TOKEN=
CLOUDFLARE_TUNNEL_HOSTNAME=
HOSTNAME_PUBLIC= 