# MAIN CONFIGURATION 
# _________________________

# * Required, only default font.
BOT_NAME=YOURNAME

# Owner & Moderator List
# Format: [["Number", "Name", true/false (Display on .owner?)]]
# Example: [["628123456789", "Hiroosy", true], "628123456789"]
OWNER=[""]
MODERATOR=[""]

# Custom Pairing Code (Max 8 characters)
CUSTOM_PAIRING=

# LID SOLVER (Accept Group link or Group JID)
GROUP_ID=

# Database Configuration
# Options: "mongodb+srv://..." (MongoDB), "mysql://..." (MySQL), or leave empty to use local .json file (db.data)
DATABASE=

# Ai personality (default: silly and helpful)
AI_PERSONALITY=

# Gemini API Key (Get from aistudio.google.com)
# Accepts single string or Array for fallback
AI_KEYS=


# GIT CONFIGURATION (For .gitpush / update. OPTIONAL)
# __________________________________________________

# Credentials for pushing to GitHub
GIT_CLASSIC_KEY=
GIT_TOKEN=
GIT_USER=
GIT_EMAIL=
GIT_REPO=


# SERVER/TUNNELING CONFIGURATION
# __________________________________________________

# Cloudflare Tunnel (Optional, if using custom domain)
CLOUDFLARE_TUNNEL_TOKEN=
CLOUDFLARE_TUNNEL_HOSTNAME=
HOSTNAME_PUBLIC=

# Uptimerobot (Used to keep Replit awake)
UPTIMEROBOT_API_KEY=
UPTIMEROBOT_MONITOR_ID=