node_modules/
.env
data/
*.log
.DS_Store
.npm/

.cache/
.gitignore
*.zip
*.bin
*.pid
*.bak
*.tar.gz
package-lock.json
yarn.lock
pnpm-lock.json
.npmrc
replit.nix
.replit
.github/*
!.github/workflows
.github/workflows/*
!.github/workflows/uptimer.yml
run.js